<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan UTS</title>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/todo.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="main-container flex">
        <header>
            <img src="/assets/images/bg-01.jpg" alt="" class="hero">
            <h1>CHECKLIST</h1>
        </header>
        <form action="" id="main-form" method="get" class="">
            <label for="Title">Title</label>
            <input type="text" name="Title" id="titleInput">
            <button id="addItem">+</button>
            <label for="item">To Do</label>
            <div class="listItem" id="itemParentNode">
                <input type="text" name="todoItem" class="item">
            </div>
            <button type="submit" id="create">Create</button>
        </form>

    </div>
</body>

</html>