<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <main>
    <header>
      <h1>Sign Up or Sign In</h1>
    </header>
    <section>
      <form action="">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="repeat-password">Repeat Password</label>
        <input type="password" name="repeat-password" id="repeat-password">
        <input type="submit" value="Sign Up">
      </form>
    </section>
    <section>
      <form action="">
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Sign In">
      </form>
    </section>
    <footer>
      <a href="/">About</a>
      <a href="/">Terms & Conditions</a>
      <a href="/">Legal Notice</a>
    </footer>
  </main>
</body>

</html>