<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Menu</title>
    <link rel="stylesheet" href="/header.css">
    <script src="/script.js" defer></script>
</head>

<body>
    <header>
        <nav class="main-menu">
            <a href="/">Home</a>
            <a href="/addPost">Add</a>
            <a href="" id="filterbutton">Filter</a>
            <select name="user" id="user">
                <option value="Me">Me</option>
                <option value="Bocchi">Bocchi</option>
                <option value="Ryo">Ryo</option>
                <option value="Nijka Ijichi">Nijka Ijichi</option>
                <option value="Ikuyo Kita">Ikuyo Kita</option>
                <option value="PA-san">PA-san</option>
                <option value="Anon">Anon</option>
            </select>
        </nav>
    </header>
</body>

</html>