<select name="author" id="author">
    <option value="Me">Me</option>
    <option value="Bocchi">Bocchi</option>
    <option value="Ryo">Ryo</option>
    <option value="Nijka Ijichi">Nijka Ijichi</option>
    <option value="Ikuyo Kita">Ikuyo Kita</option>
    <option value="PA-san">PA-san</option>
    <option value="Anon">Anon</option>
</select>