*{
	box-sizing: border-box;
}

fieldset{
	display: inline-block;
	width: 320px;
}

#register_form label{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.form-label{
	width : 100px;
}

.form-control{
	width : 150px;
	margin : 1px 5px;
}

.check_icons{
	width : 20px;
	height : 20px;
}

#date_form{
	display: flex;
	justify-content: flex-start;
}

#date_form select{
	flex-basis: 100%;
}

.center-button {
	text-align: center;
	margin-top: 10px;
}

.hidden{
	display: none;
}